.center{
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}
.redBT{
    color: darkred;
    width: 80px;
    height: 60px;
    border-radius: 20%;
    border-width: 5px;
    border-color: pink;
    font-size: large;
    background-color: red;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.blueBT{
    color: darkblue;
    width: 150px;
    height: 90px;
    border-radius: 20%;
    border-width: 5px;
    border-color: lightblue;
    font-size: large;
    background-color: blue;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.yellowBT{
    color: rgb(175, 175, 0);
    width: 150px;
    height: 90px;
    border-radius: 20%;
    border-width: 5px;
    border-color: lightyellow;
    font-size: large;
    background-color: yellow;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.table{
    border-width: 2px;
    border-color: limegreen;
    border-style: dashed;
    background-color: green;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.orangeBT{
    color: orangered;
    width: 80px;
    height: 80px;
    border-radius: 20%;
    border-width: 5px;
    border-color: rgb(255, 196, 0);
    font-size: small;
    background-color: orange;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.tableDb{
    background-color: lightgrey;
}
.tableDa{
    background-color: aliceblue;  
}
.tableH{
    background-color: grey;
}
